.buttons {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animation {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 20px;
}

#first, #second {
  position: absolute;
  transition: 0.4s;
}

#first.play {
  height: 80px;
  width: 80px; /* Adjusted size */
  margin-left: 46px;
  margin-top: 20px;
  border-left: 75px solid lightgrey;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

#second.play {
  height: 0px;
  width: 80px; /* Adjusted size */
  margin-left: 121px;
  margin-top: 60px;
  border-left: 75px solid lightgrey;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

#first.pause {
  height: 160px;
  width: 80px; /* Adjusted size */
  margin-left: 46px;
  margin-top: 20px;
  border-left: 45px solid lightgrey;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

#second.pause {
  height: 160px;
  width: 80px; /* Adjusted size */
  margin-left: 110px;
  margin-top: 20px;
  border-left: 45px solid lightgrey;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.left, .right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 0 80px 120px; /* Adjusted size */
  border-color: transparent transparent transparent lightgrey;
  cursor: pointer;
}

.right {
  margin-left: 15px; /* Adjust spacing */
}

.left {
  transform: rotateY(180deg);
}

.left:hover,
.right:hover {
  border-color: transparent transparent transparent black;
}
